<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<mapper namespace="org.example.mapper.NodeIPMapper">
    <!-- 在你的Mapper接口中定义对应的方法 -->
    <select id="getIPByNodeName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT ip
        FROM node_ip
        WHERE node_name = #{nodeName}
    </select>
</mapper>